table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
}

.th,
.mat-header-cell {
    color: #212529;
    font-size: 14px !important;
}

.td,
.mat-cell {
    color: #212529;
    font-size: 12px;
}

.mat-row:nth-child(even) {
    background-color: #ffff;
}

.mat-row:nth-child(odd) {
    background-color: #F6F6F6
}