<div class="text-center">
    <mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async"></mat-spinner>
</div>
<div class="container-fluid" style="margin-top: 20px;">
    <h4>Filtro de Busqueda</h4>
    <mat-form-field style="padding-left: 10px;">
        <mat-label>Escribe el nombre de la tabla</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <hr>
    <h4>Selecciona las tablas y las columnas que deseas conservar</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px;">

        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef=" let i = index">
                {{i+1}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Tabla">
            <th mat-header-cell *matHeaderCellDef> Nombre de la tabla </th>
            <td [formGroup]="formaArray.controls[i]" mat-cell *matCellDef="let element; let i = index">
                <div class="row">
                    <mat-checkbox (change)="change($event,i);" [checked]="" class="col-sm-2 col-form-label">{{element.table_name}} </mat-checkbox>
                    <div class="col-sm-10">
                        <form [formGroup]="formaArray.controls[i]">
                            <mat-form-field style="margin-left: 20px; width: 80%;">
                                <mat-label>Selecciona las columnas que quieres utilizar</mat-label>
                                <mat-select formControlName="COLUMNAS_SELECCIONADAS" multiple>
                                    <mat-option *ngFor="let item of element.columns" [value]="item">
                                        <div class="row">
                                            <div class="col-4">
                                                {{item.Field || item.field}}
                                            </div>
                                            <div class="col-8 text-right">
                                                <i class="fas fa-key" matTooltip="Es una primary key" *ngIf="item.Key === 'PRI' || item.key === 'PRI' " style="color: #FFD700;"></i>
                                                <i class="fas fa-ban" matTooltip="No puede ser null" *ngIf="item.Null === 'NO'  || item.null === 'NO'" style="margin-left: 5px;color: #ff0000;"></i>
                                                <i class="fas fa-arrow-up" matTooltip="Auto incrementable" *ngIf="item.Extra === 'auto_increment' || item.Extra === 'auto_increment' " style="margin-left: 5px;color: #2E86C1;"></i>
                                            </div>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

    <div class="text-right col-12">
        <button (click)="enviaDatos() " type="button" mat-raised-button color="primary">
            <span >Continuar</span>
        </button>
    </div>
    <div *ngIf="!procesoValido" class="col-12 alert alert-warning" role="alert">
        Hubo un error con la informacion recuperada.
    </div>
</div>