<div class="container">
    <h4>Selecciona la tecnologia que vas a usar para tu proyecto</h4>
    <div class="row">
        <div class="col-3">
            <button disabled [ngStyle]="{'background-color': (_packageservice.forma.get('BACK').value === 'java') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getBack('java')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/java_logo.png">
        </button>
        </div>

        <div class="col-3">
            <button disabled [ngStyle]="{'background-color': (_packageservice.forma.get('BACK').value === 'net') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getBack('net')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/netcore_logo.png">
        </button>
        </div>
        <div class="col-6">
            <button [ngStyle]="{'background-color': (_packageservice.forma.get('BACK').value === 'nodejs') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getBack('nodejs')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/node_logo.png">
        </button>
        </div>
    </div>

</div>