<div class="card">
    <h2 class="card-header text-center" style=" color:white;background-color:#aa303b ;">Definición de las caracteristicas del proyecto</h2>
    <div class="card-body">
        <mat-vertical-stepper #stepper>
            <mat-step>
                <form>
                    <ng-template matStepLabel>
                        <span [ngStyle]="{'color': (_packageservice.forma.get('DATABASES').value != null) ? 'green' : 'black'}">
                            Base de datos
                        </span>
                    </ng-template>
                    <app-databases></app-databases>
                </form>
            </mat-step>
            <mat-step>
                <form>
                    <ng-template matStepLabel>
                        <span [ngStyle]="{'color': (_packageservice.forma.get('FRONT').value != null) ? 'green' : 'black'}">
                            Front-end
                        </span>
                    </ng-template>
                    <app-front-options></app-front-options>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <span [ngStyle]="{'color': (_packageservice.forma.get('BACK').value != null) ? 'green' : 'black'}">
                        Back-end
                    </span>
                </ng-template>
                <app-middleware-options></app-middleware-options>
            </mat-step>
            <mat-step>
                <form>
                    <ng-template matStepLabel>
                        Consumir servicios
                    </ng-template>
                    <app-micro-services-options></app-micro-services-options>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>