.varios-campos {
    display: flex;
}

h4,
.h4,
.p,
p {
    padding-left: 10px;
}

.notificaciones-style {
    font-style: italic;
    color: grey;
    size: 8px;
    margin-top: 20px;
}