<h3 mat-dialog-title>Favor de confirmar tus datos </h3>
<hr>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row">
            <div class="col-12 varios-campos">
                <i class="fas fa-database" style="color: #2E86C1;"></i>
                <h4>Base de datos:</h4>
                <p>"{{_package.forma.get('DATABASES').value}}"</p>
            </div>
            <div class="col-12 varios-campos">
                <i class="fas fa-window-restore" style="color: #2ECC71 "></i>
                <h4>Tecnologia Front-end:</h4>
                <p>"{{_package.forma.get('FRONT').value}}"</p>
            </div>

            <div class="col-12 varios-campos">
                <i class="fas fa-robot" style="color: #FFC300 "></i>
                <h4>Tecnologia Back-end:</h4>
                <p>"{{_package.forma.get('BACK').value}}"</p>
            </div>
        </div>
        <hr>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tablas
                </mat-panel-title>
                <mat-panel-description>
                    Vista previa de las tablas seleccionadas
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor="let item of tableNames; let i = index">
                {{tableNames[i]}}
                <mat-divider></mat-divider>
            </p>
        </mat-expansion-panel>
        <p class="notificaciones-style">*Esta pantalla es solo para confirmar tus datos, si estas seguro de las tablas que seleccionaste da click en continuar.</p>
        <div class="text-right">
            <button (click)="onNoClick()" mat-raised-button color="warn" style="padding-left: 10px;">Salir</button>
            <button mat-raised-button style="color: white; background-color: rgb(88, 214, 141 ); " (click)="doWork()">Continuar</button>
        </div>
    </div>
</mat-dialog-content>