<div class="container">
    <h4> Selecciona como vas enviar los datos de tus tablas</h4>
    <mat-accordion>
        <mat-expansion-panel [formGroup]="formaSOAP">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Peticion SOAP
                </mat-panel-title>
                <mat-panel-description>
                    Agrega la url de tu servicio SOAP.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-12">
                <div class="col-12 text-right">
                    <p class="notificaciones-style"> Mira un ejemplo
                        <button mat-mini-fab (click)="openDialogSoap()">
                            <mat-icon>insert_drive_file</mat-icon>
                          </button>
                    </p>
                </div>
                <mat-form-field style="width: 50%;">
                    <mat-label>Ingresa la liga de tu WSDL ENDPOINT</mat-label>
                    <input formControlName="URL" matInput>
                </mat-form-field>
                <mat-form-field style="width: 50%; padding-left: 10px;">
                    <mat-label>Ingresa el nombre del metodo</mat-label>
                    <input formControlName="METODO" matInput>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Ingresa los atributos en forma de json</mat-label>
                    <input formControlName="ARGUMENTOS" matInput>
                </mat-form-field>
            </div>
            <div class="col-12 text-right">
                <button [disabled]="!formaSOAP.valid" (click)="consumeSOAP()" type="button" mat-raised-button color="primary">
                    <span matTooltip="Verifica los datos."  [matTooltipDisabled]="formaSOAP.valid">Continuar</span>
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Archivo JSON
                </mat-panel-title>
                <mat-panel-description>
                    Agrega un archivo JSON.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-12 text-right">
                <p class="notificaciones-style"> Mira un ejemplo
                    <button mat-mini-fab (click)="openDialog()">
                        <mat-icon>insert_drive_file</mat-icon>
                      </button>
                </p>
            </div>
            <div class="col-12">
                <input (change)="fileChanged($event)" type="file" class="form-control-file" id="FormControlFile1">
            </div>
            <div class="col-12 text-right">
                <button (click)="redirectFile()" [disabled]="archivoJSON == null || !_package.forma.valid" type="button" mat-raised-button color="primary">
                    <span matTooltip="Ingresa un archivo."   [matTooltipDisabled]="archivoJSON != null || _package.forma.valid">Continuar</span>
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel [formGroup]="formaREST">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Servicios API-REST
                </mat-panel-title>
                <mat-panel-description>
                    Agrega la url de tu servicio REST.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-12 text-right">
                <p class="notificaciones-style"> Mira un ejemplo
                    <button mat-mini-fab (click)="openDialog()">
                        <mat-icon>insert_drive_file</mat-icon>
                      </button>
                </p>
            </div>
            <div class="col-12">
                <mat-form-field style="width: 50%;">
                    <mat-label>Url - Endpoint</mat-label>
                    <input formControlName="URL" matInput>
                </mat-form-field>

                <mat-form-field style="margin-left: 10px;">
                    <mat-label>Método</mat-label>
                    <mat-select formControlName="METODO" required>
                        <mat-option *ngFor="let option of restOptions" [value]="option.value">
                            {{option.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Header</mat-label>
                    <textarea formControlName="HEADER" matInput></textarea>
                </mat-form-field>
            </div>
            <div *ngIf="formaREST.get('METODO').value === 'post'" class="col-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Body</mat-label>
                    <textarea formControlName="BODY" matInput></textarea>
                </mat-form-field>
            </div>
            <div class="col-12 text-right">
                <button [disabled]="!formaREST.valid || !_package.forma.valid" (click)="consumeREST()" type="button" mat-raised-button color="primary">
                    <span matTooltip="Verifica los datos."  [matTooltipDisabled]="formaREST.valid || _package.forma.valid">Continuar</span>
                </button>
            </div>


        </mat-expansion-panel>

    </mat-accordion>

</div>