.my-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-sidenav-container {
    flex: 1;
    background-color: white;
}

.mat-list-item {
    color: black;
    opacity: 0.8;
}

.mat-drawer {
    opacity: 0.9;
    background: White;
}

.mat-toolbar {
    opacity: 0.9;
    background: rgb(255, 255, 255);
    color: white;
}

.image-container {
    max-width: 90%;
    height: auto;
    width: auto\9;
}

.clicked {
    transform: rotate(180deg)
}

.my-toolbar {
    z-index: 2;
}

.my-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.my-mat-sub-menu {
    height: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}