<div class="my-container">
    <mat-toolbar class="my-toolbar mat-elevation-z6">
        <img class="image-container" src="../assets/images/logo_ipn.jpg">
        <img class="image-container" src="../assets/images/letras_ipn.jpg">
        <!-- <span class="my-fill-remaining-space"></span> -->
    </mat-toolbar>

    <div class="container" style="margin-top: 20px;">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <footer>
    <div class="container-flex" style="background-color: #aa303b;">
        <p style="margin-top: 20px ; height:200px; color: white">By: Fernando Serrano</p>
    </div>
</footer> -->