<div class="row">
    <div class="col-12" *ngIf="!_table.archiValido">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 5%" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col-12" *ngIf="_table.archiValido && !_table.ModValido">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 33%" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col-12" *ngIf="_table.ModValido && !_table.microserviciosValido">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 66%" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col-12" *ngIf="_table.microserviciosValido">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 100%" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-6 text-center">
            <button *ngIf="_table.ModValido" (click)="downloadProject()" type="button" mat-raised-button color="primary">Descarga tu proyecto</button>
        </div>
        <div class="col-6 text-center">
            <button *ngIf="_table.microserviciosValido" (click)="downloadMS()" type="button" mat-raised-button color="primary">Descarga tus microservicios</button>
        </div>
    </div>
</div>