<div class="container">
    <h4>Selecciona la base de datos vas usar en el proyecto</h4>
    <div class="row">
        <div class=" col-3 ">
            <button disabled [ngStyle]="{'background-color': (_packageservice.forma.get('DATABASES').value === 'oracle') ? 'rgba(175,175,175,.2)' : 'white'}" type="button " (click)="getDataBase( 'oracle') " mat-raised-button matStepperNext style="border-radius: 60%; ">
            <img class="data-bases-image " src="../../../../assets/images/oracle_db.png ">
        </button>
        </div>

        <div class="col-3 ">
            <button [ngStyle]="{'background-color': (_packageservice.forma.get('DATABASES').value === 'mariadb') ? 'rgba(175,175,175,.2)' : 'white'}" type="button " (click)="getDataBase( 'mariadb') " mat-raised-button matStepperNext style="border-radius: 60%; ">
            <img class="data-bases-image " src="../../../../assets/images/mariadb.png ">
        </button>
        </div>
        <div class="col-6 ">
            <button disabled type="button " [ngStyle]="{'background-color': (_packageservice.forma.get('DATABASES').value === 'mongodb') ? 'rgba(175,175,175,.2)' : 'white'}" (click)="getDataBase( 'mongodb') " mat-raised-button matStepperNext style="border-radius: 60%; ">
            <img class="data-bases-image " src="../../../../assets/images/mongodb-logo.png ">
        </button>
        </div>
    </div>

</div>