// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guinda: ( 50: #aa303b, 100: #aa303b, 200: #aa303b, 300: #aa303b, 400: #aa303b, 500: #aa303b, 600: #aa303b, 700: #aa303b, 800: #aa303b, 900: #aa303b, A100: #aa303b, A200: #aa303b, A400: #aa303b, A700: #aa303b, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));
$azul: ( 50: #4242a7, 100: #4242a7, 200: #4242a7, 300: #4242a7, 400: #4242a7, 500: #4242a7, 600: #4242a7, 700: #4242a7, 800: #4242a7, 900: #4242a7, A100: #4242a7, A200: #4242a7, A400: #4242a7, A700: #4242a7, contrast: ( 50: white, 100: white, 200: white, 300: white, 400: white, 500: white, 600: white, 700: white, 800: white, 900: white, A100: white, A200: white, A400: white, A700: white, ));
$proyecto-primary: mat-palette($guinda);
$proyecto-accent: mat-palette($azul, A200, A100, A400);
// The warn palette is optional (defaults to red).
$proyecto-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$proyecto-theme: mat-light-theme($proyecto-primary, $proyecto-accent, $proyecto-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($proyecto-theme);