/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notificaciones-style {
    font-style: italic;
    color: grey;
    size: 6px;
}

.invalid-message {
    background: #E74C3C;
    color: white;
}