<div class="container" *ngIf="_package.forma.get('DATABASES').value === 'mariadb'">
    <code class="prettyprint">
        {{XMLMDB}}
    </code>
    <div class="text-right">
        <p class="notificaciones-style"> <a href="https://gitlab.com/esimeproyecto/backend/consumotablasmdbsoap.git">Aqui</a> Hay un ejemplo de un servicio para generar la informacion</p>

    </div>
</div>
<mat-divider style="padding-bottom: 10px;"></mat-divider>
<p class="notificaciones-style"> Si no se muestra ningun ejemplo en el recuadro, asegurate de haber escogido una base de datos</p>

<div class="text-right">
    <button mat-button mat-dialog-close color="warn">Salir</button>
</div>