<div class="container">
    <h4>Selecciona tu framework con el que vas a desarrollar</h4>
    <div class="row">
        <div class="col-3">
            <button [ngStyle]="{'background-color': (_packageservice.forma.get('FRONT').value === 'angular') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getFront('angular')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/angular_logo.png">
        </button>
        </div>

        <div class="col-3">
            <button disabled [ngStyle]="{'background-color': (_packageservice.forma.get('FRONT').value === 'vue') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getFront('vue')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/vue_logo.png">
        </button>
        </div>
        <div class="col-6">
            <button disabled [ngStyle]="{'background-color': (_packageservice.forma.get('FRONT').value === 'javascript') ? 'rgba(175,175,175,.2)' : 'white'}" type="button" (click)="getFront('javascript')" mat-raised-button matStepperNext style="border-radius: 60%;">
            <img class="data-bases-image" src="../../../../assets/images/js_logo.png">
        </button>
        </div>
    </div>

</div>